.login {
  position: relative;
  height: 100vh;
  display: flex; /* Changed to flex for easier centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.login__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;  /* Ensures it stays in the background */
}

.login__form {
  position: relative;
  width: 40%; /* Set a specific width for the box */
  max-width: 500px; /* Maximum width to ensure it doesn't get too wide on larger screens */
  background-color: hsla(0, 0%, 10%, 0.1);
  border: 2px solid var(--white-color);
  margin: auto; /* Automatically adjust margin to center the form */
  padding: 2.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional shadow for better visibility */
}

.login__title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 2rem;
}

.login__content,
.login__box {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Consistent spacing between elements */
}

.login__icon,
.login__eye {
  font-size: 1.25rem;
}

.login__input, .login__button {
  width: 100%; /* Make sure input fields and button use the full width of the form */
}

.login__box-input {
  position: relative;
}

.login__label {
  position: absolute;
  left: 0;
  top: -25px; /* Position label above the input field */
  font-weight: var(--font-medium);
  color: var(--white-color); /* Ensure the label is visible against the background */
  transition: top 0.2s, font-size 0.3s;
}

.login__eye {
  position: absolute;
  right: 0;
  top: 18px;
  z-index: 10;
  cursor: pointer;
}

.login__check,
.login__check-group {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjusted to spread checkbox and forgot password link */
}

.login__check {
  margin-bottom: 1.5rem;
}

.login__check-label,
.login__forgot,
.login__register {
  font-size: var(--small-font-size);
}

.login__check-input {
  width: 16px;
  height: 16px;
}

.login__forgot {
  width: fit-content;
  color: var(--white-color);
  cursor: pointer; /* Ensure it's clear these are clickable */
}

.login__forgot:hover {
  text-decoration: underline;
}

.login__register {
  text-align: center;
}

.login__register a {
  color: var(--white-color);
  font-weight: var(--font-medium);
  cursor: pointer; /* Ensure it's clear these are clickable */
}

.login__register a:hover {
  text-decoration: underline;
}

/* Input focus keep label at the top */
.login__input:focus + .login__label,
.login__input:not(:placeholder-shown) + .login__label {
  top: -20px; /* Keep label above */
  font-size: var(--small-font-size); /* Optionally adjust font size */
}
